:root {
  --app-navi-blue: #667eea;
  --app-blue-100: #3b82f6;
  --app-blue-200: #2563eb;
  --app-dark-blue-100: #1f2937;
  --app-black-100: #333333;
  --app-red-100: #ef4444;
  --app-yellow-100: #f59e0b;
  --app-green-100: #10b981;
  --app-white-50: #ffffff;
  --app-white-100: #e5e7eb;
  --app-gray-100: #d1d5db;
  --app-gray-200: #f3f4f6;
  --app-gray-300: #6b7280;

  --app-shadow-100: rgba(59, 130, 246, 0.1);
  --app-shadow-200: rgba(255, 255, 255, 0.2);
  --app-shadow-300: rgba(139, 92, 246, 0.1);
}
